
.container {
  width: 100%;
  height: 100%;


  color: white;
  background: #111;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.445);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  
}




.container > * {
  position: relative;
  z-index: 2;
}

